# Ignorar archivos extras de latex
*.aux
*.log
*synctex.gz
*.toc
*.bbl
*.blg
*.out
# No subir el pdf
ETAPAS/*.pdf
# Archivos de Altium
__Previews/
History/
* Logs*
Project Outputs *
*.DSNlck
# Archivos de KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses
